server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/achievementdb
    username: wguser
    password: wgpass
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true

app:
  kafka:
    bootstrap-servers: localhost:9092
    topic:
      workout-completed: workout.completed
    consumer-group: achievement-service
